*.o
*.so
*.d
*.a
*.dll
*.exe
*.swo
*.swp
*.stamp
*.deps
*.pyc
*.blend1
.sconsign.dblite


.DS_Store
.cache/
.vscode/
build/
runner/
runner_debug/
runner_web/
tmp/
assets/baked/
assets/bin/


compile_commands.json


appetizer
appetizer_external_libs
appetizer_headers
appetizer_libs
